name: Generate ASCII art

on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6
  
            - name: Execute Shall Script
              uses: ./ascii-script.sh
            
